.about {
    background-color: #e6f7ff; /* светло-голубой */
    padding: 40px 0;
  }
  
  .about h2 {
    color: #1e90ff; /* синий */
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
  }
  